body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

.top-bar-and-trends {
    width: 100%;
}

.top-bar {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 36px;
    padding-bottom: 126px;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    margin-bottom: 40px;
}

.top-bar::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.60;
}

.container {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 100%;
}

.container-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-logo {
    width: 180px;
}

.nav-icon-menu {
    display: none;
    width: 26px;
}

.nav-icon {
    font-family: OpenSans-Bold;
    font-size: 28px;
    color: #ffffff;
    border: none;
    background-color: transparent;
    position: relative;
    padding: 0;
}

.menu {
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
}

.menu-link {
    font-family: OpenSans-Regular;
    color: #ffffff;
    text-decoration: none;
}

.menu-link:nth-child(n+2) {
    margin-left: 36px;
}

.menu-link:hover {
    border-bottom: 1px solid #ffffff;
}

.intro {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
}

.intro-title {
    font-family: OpenSans-Bold;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 75px;
}

.trends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}

.trend {
    width: 24.6%;
}

.trend-block-1 {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trend-block-2 {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trend-block-3 {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trend-block-4 {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trend-inform {
    height: 320px;
    display: flex;
    align-items: flex-end;
}

.trend-inform::before {
    background: #000000;
    content: "";
    position: absolute;
    width: 24.6%;
    height: 320px;
    opacity: 0.6;
}

.trend-info {
    padding-left: 3%;
    padding-right: 4%;
    padding-top: 12px;
    border: 4px solid rgba(181, 159, 91, 0.7);
    margin-left: 20px;
    margin-right: 25px;
    margin-bottom: 15px;
    z-index: 2;
    width: 80%;
}

.post-category-trend-link {
    font-family: OpenSans-Bold;
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.post-category-trend-link:nth-child(n+1) {
    margin-right: 20px;
}

.post-category-trend-link:hover {
    border-bottom: 2px solid rgba(181, 159, 91, 0.88);
}


.trend-name {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.trend-name:hover {
    text-shadow: 0.4px 0 0 #ffffff;
}

.content-bar-list {
    display: block;
    width: 72.3%;
    margin-left: auto;
    margin-right: auto;
}

.bar-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.center-bar {
    position: relative;
    height: 62%;
}

.post {
    display: flex;
    width: 90%;
}

.post:nth-child(n+1){
    margin-bottom: 60px;
}

.post-picture {
    margin-top: 15px;
    width: 50%;
}

.post-info {
    box-sizing: border-box;
    margin-left: 30px;
    width: 70%;
}


.post-category-link {
    font-family: OpenSans-Bold;
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
}

.post-category-link:nth-child(n+1) {
    margin-right: 20px;
}

.post-category-link:hover {
    border-bottom: 2px solid #e5decb;
}

.post-name {
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
}

.post-name:hover {
    text-shadow: 1px 0 0 #000000;
}

.post-data {
    display: flex;
    font-size: 12px;
    line-height: 40px;
}

.date {
    font-size: 12px;
    margin-right: 15px;
    font-family: OpenSans-Regular;
    color: #888888;
}

.author {
    margin-right: 15px;
    font-family: OpenSans-Bold;
    color: #000000;
}

.post-text {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}

.right-bar {
    width: 272px;
}

.section:nth-child(n+1) {
    margin-bottom: 61px;
}

.title {
    text-align: center;
    margin-bottom: 29px;
}

.name {
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.name:after {
    content: "";
    display: block;
    width: 69px;
    height: 3px;
    background: #e1d9bd;
    margin: 8px auto;
}
.latest-post-content {
    display: flex;
    width: 272px;
}

.latest-post-content:nth-child(n+1) {
    margin-bottom: 22px;
}

.latest-post-picture {
    margin-right: 20px;
}

.latest-post-info {
    display: flex;
    flex-direction: column;
}


.latest-post-name {
    font-family: OpenSans-Bold;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.latest-post-name:hover {
    text-shadow: 1px 0 0 #000000;
}

.latest-post-search {
    margin-top: 40px;
    display: flex;
}

.input_description_hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.field {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #000000;
    box-sizing: border-box;
    width: 223px;
    height: 50px;
    padding-left: 20px;
    border: none;
    background-color: #f4f7f6;
}

.latest-post-button {
    box-sizing: border-box;
    width: 49px;
    height: 49px;
    border: none;
    text-transform: uppercase;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.field-subsscribe {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #000000;
    box-sizing: border-box;
    width: 272px;
    height: 50px;
    padding-left: 20px;
    border: none;
    background-color: #f4f7f6;
    margin-bottom: 18px;
}

.subsscribe-button {
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #ffffff;
    box-sizing: border-box;
    width: 272px;
    height: 48px;
    padding: 18px 82px 19px 82px;
    border: none;
    text-transform: uppercase;
    background-color: #b59f5b;
    border-top: 1px solid #e6dfc8;
    border-left: 1px solid #fbf9f5;
}

.subsscribe-button:hover {
    border-top: 1px solid #b9b29b;
    border-left: 1px solid #efeeea;
}

.name:after {
    content: "";
    display: block;
    width: 69px;
    height: 3px;
    background: #e1d9bd;
    margin: 8px auto;
}

.tags-menu {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
}

.tags-menu-link {
    padding: 6px 12px 6px 12px;
    border: 3px solid #eeeeee;
    margin-bottom: 5px;
    margin-right: 3px;
    cursor: pointer;
}

.tags-menu-link:hover {
    text-shadow: 1px 0 0 #000000;
}

.tags-link{
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.tags-menu-link > .tags-link {
    display: block;
}

.catigories-menu {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    font-weight: normal;
    padding-bottom: 11px;
    margin-bottom: 17px;
}

.catigories-menu-link {
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    font-size: 14px;
    text-decoration: none;
    margin-right: 5px;
}

.catigories-menu-link:hover {
    text-shadow: 1px 0 0 #000000;
}

.catigories-number-link {
    font-family: OpenSans-Bold;
    color: #b59f5b;
    font-size: 14px;
    margin-top: -3px;
}

.title-content-bar-list {
    text-align: center;
}

.name-content-bar-list {
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
}

.name-content-bar-list:after {
    content: "";
    display: block;
    width: 69px;
    height: 3px;
    background: #e1d9bd;
    margin: 8px auto;
}

.product-bar {
    margin-top: 14%;
}

.products {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.product {
    box-sizing: border-box;
    width: 25.7%;
    border: 4px solid #d3c59d;
    padding-left: 1.7%;
    padding-right: 1.7%;
}

.product-img-box {
    text-align: center;
    margin-top: -59.7%;
    position: relative;
    z-index: -1;
}
.product-img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.product-body {
    padding-bottom: 12%;
}

.product-title {
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    font-size: 20px;
    font-size: 0.92em;
    font-weight: normal;

}

.product-description {
    font-family: OpenSans-Regular;
    color: #0f0d0e;
    font-size: 15px;
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;
}
.product-description:hover{
    text-shadow: 0.4px 0 0 #000000;
}
.product-link {
    text-decoration: none;
    color: #b59f5b;
}
.product-link:hover{
    text-decoration: underline;
}
.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
    width: 100%;
}

.product-price-old{
    text-decoration: line-through;
    font-size: 14px;
}
.product-price.product-price-old::after {
    border-bottom: 1px solid #000;
    width: 0.4em;
    content: "";
    position: absolute;
    margin-top: 16.5px;
    margin-left: 28px;
}
.product-price {
    display: flex;
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
}
.product-price::after {
    border-bottom: 2px solid #000;
    width: 0.3em;
    content: "";
    position: absolute;
    margin-top: 17px;
    margin-left: 38px;
}
.product-price-one-value {
    display: flex;
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
}
.product-price-one-value::after {
    border-bottom: 2px solid #000;
    width: 0.3em;
    content: "";
    position: absolute;
    margin-top: 17px;
    margin-left: 50px;
}

.product-button {
    font-family: OpenSans-Bold;
    font-size: 14.6px;
    color: #ffffff;
    padding: 12px 6px 12px 6px;
    border: none;
    text-transform: uppercase;
    background-color: #b59f5b;
    border-top: 1px solid #e6dfc8;
    border-left: 1px solid #fbf9f5;
    justify-content: flex-end;
    width: 63%;
}

.product-button:hover {
    border-top: 1px solid #b9b29b;
    border-left: 1px solid #efeeea;
}

.bottom-bar {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 67px;
}

.articles-socials {
    padding: 19px;
    background-color: #f4f7f6;

}

.socials {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socials-item {
    display: flex;
    flex-wrap: wrap;
}

.socials-link {
    width: 27px;
    height: 27px;
    padding: 18px;
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: center;
}

.socials-link-twitter {
    background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-instagram {
    background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
    padding-top: 74px;
}

.copyright-name {
    font-family: OpenSans-Bold;
    font-size: 12px;
    text-decoration: none;
    color: #999999;
}

.popup_hidden {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    z-index: 9999;
    display: none;
}

.popup_hidden::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.60;
    z-index: -1;
}

.popup-container {
    margin: auto;
    max-width: 391px;
    background-color: #ffffff;
}

.title-popup-list {
    text-align: center;
}

.name-popup-list {
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
}

.name-popup-list:after {
    content: "";
    display: block;
    width: 69px;
    height: 3px;
    background: #e1d9bd;
    margin: 8px auto;
}

.popup-form {
    margin-left: 31px;
    margin-bottom: 30px;
    font-family: OpenSans-Regular;
    color: #000000;
    font-size: 13px;
    font-weight: normal;
}

.form-hint {
    display: block;
    margin-bottom: 12px;
}

.selected {
    box-sizing: border-box;
    width: 330px;
    height: 37px;
    padding-left: 20px;
    margin: 0;
    border: 1px solid #f4f7f6;
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #a2a4a3;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-size: 9px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selected:hover {
    border-bottom: 1px solid #ebe7d7;
}

.radio-group {
    font-size: 13px;
}

.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.radio-group-text {
    margin-right: 15px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}

.radio-group-text::before {
    margin-right: 8px;
}
.radio-group-text::before {
    display: inline-block;
    vertical-align: middle;
}
.radio-group-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}

.textarea {
    min-width: 331px;
    max-width: 331px;
    min-height: 136px;
    max-height: 136px;
    background-color: #f4f7f6;
}
.field {
    box-sizing: border-box;
    padding: 15px 20px;
    font-family: OpenSans-Regular;
    font-size: 13px;
}

.popup-form-button {
    text-align: center;
}

.popup-button {
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #ffffff;
    box-sizing: border-box;
    width: 272px;
    height: 48px;
    padding: 18px 82px 19px 82px;
    border: none;
    text-transform: uppercase;
    background-color: #b59f5b;
    border-top: 1px solid #e6dfc8;
    border-left: 1px solid #fbf9f5;
    margin-bottom: 49px;
}

.popup-button:hover {
    border-top: 1px solid #b9b29b;
    border-left: 1px solid #efeeea;
}

.popup-close {
    font-size: 18px;
    background-image: url("../svg/form-x.svg");
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    position: relative;
    float: right;
    top: -30px;
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    .top-bar {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 36px;
        padding-bottom: 126px;
        background-image: url(../images/banner-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        margin-bottom: 40px;
    }

    .nav-icon-menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 4%;
    }

    .menu {
        display: none;
    }

    .container-top {
        display: flex;
        justify-content: flex-start;
        margin-left: 4%;
    }

    .intro-title {
        font-family: OpenSans-Bold;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 55px;
    }

    .intro {
        width: 97%;
        padding-top: 64px;
    }

    .trend {
        width: 49%;
        margin-bottom: 1%;
    }

    .trend-inform::before {
        background: #000000;
        content: "";
        position: absolute;
        width: 49%;
        height: 320px;
        opacity: 0.6;
    }

    .post-category-trend-link {
        font-family: OpenSans-Bold;
        color: #b59f5b;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4vw;
    }

    .trend-name {
        font-family: OpenSans-Bold;
        text-transform: uppercase;
        font-size: 2vw;
        text-decoration: none;
        color: #ffffff;
    }

    .content-bar-list {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .post {
        display: block;
        width: 100%;
    }

    .post-picture {
        margin-top: 15px;
        width: 94%;
    }

    .post-info {
        width: 94%;
        box-sizing: border-box;
        margin-left: 0;
    }

    .right-bar {
        width: 50%;
    }

    .section {
        width: 100%;
    }

    .latest-post-content {
        display: flex;
        width: 100%;
    }

    .latest-post-search-group {
        width: 90%;
    }

    .field {
        color: #000000;
        width: 100%;
        height: 50px;
        border: none;
        background-color: #f4f7f6;
    }

    .subsscribe-search {
        width: 90%;
    }

    .field-subsscribe {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #000000;
        box-sizing: border-box;
        width: 110%;
        height: 50px;
        padding-left: 20px;
        border: none;
        background-color: #f4f7f6;
        margin-bottom: 18px;
    }

    .subsscribe-button {
        font-family: OpenSans-Bold;
        font-size: 14px;
        color: #ffffff;
        box-sizing: border-box;
        width: 110%;
        height: 48px;
        padding: 18px 82px 19px 82px;
        border: none;
        text-transform: uppercase;
        background-color: #b59f5b;
        border-top: 1px solid #e6dfc8;
        border-left: 1px solid #fbf9f5;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -15%;
    }

    .product {
        box-sizing: border-box;
        width: 49%;
        border: 4px solid #d3c59d;
        padding-left: 1.7%;
        padding-right: 1.7%;
        margin-top: 30%;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .top-bar {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 36px;
        padding-bottom: 126px;
        background-image: url(../images/banner-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        margin-bottom: 40px;
    }

    .nav-icon-menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 4%;
    }

    .menu {
        display: none;
    }

    .container-top {
        display: flex;
        justify-content: flex-start;
        margin-left: 4%;
    }

    .intro-title {
        font-family: OpenSans-Bold;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 55px;
    }

    .intro {
        width: 97%;
        padding-top: 64px;
    }

    .post-category-trend-link {
        font-family: OpenSans-Bold;
        color: #b59f5b;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4vw;
    }

    .trend-name {
        font-family: OpenSans-Bold;
        text-transform: uppercase;
        font-size: 2vw;
        text-decoration: none;
        color: #ffffff;
    }

    .content-bar-list {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .post {
        display: block;
        width: 100%;
    }

    .post-picture {
        margin-top: 15px;
        width: 94%;
    }

    .post-info {
        width: 94%;
        box-sizing: border-box;
        margin-left: 0;
    }

    .right-bar {
        width: 50%;
    }

    .section {
        width: 100%;
    }

    .latest-post-content {
        display: flex;
        width: 100%;
    }

    .latest-post-search-group {
        width: 90%;
    }

    .field {
        color: #000000;
        width: 100%;
        height: 50px;
        border: none;
        background-color: #f4f7f6;
    }

    .subsscribe-search {
        width: 90%;
    }

    .field-subsscribe {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #000000;
        box-sizing: border-box;
        width: 110%;
        height: 50px;
        padding-left: 20px;
        border: none;
        background-color: #f4f7f6;
        margin-bottom: 18px;
    }

    .subsscribe-button {
        font-family: OpenSans-Bold;
        font-size: 14px;
        color: #ffffff;
        box-sizing: border-box;
        width: 110%;
        height: 48px;
        padding: 18px 82px 19px 82px;
        border: none;
        text-transform: uppercase;
        background-color: #b59f5b;
        border-top: 1px solid #e6dfc8;
        border-left: 1px solid #fbf9f5;
    }
}

@media (max-width: 640px) and (orientation: portrait) {
        .top-bar {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 36px;
        padding-bottom: 126px;
        background-image: url(../images/banner-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        margin-bottom: 40px;
    }

    .container-top {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .container-logo {
        width: 180px;
        margin-top: 46%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-icon-menu {
        display: flex;
        justify-content: flex-end;
        width: 98%;
    }

    .menu {
        display: none;
    }

    .intro-title {
        font-family: OpenSans-Bold;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 26px;
        text-transform: uppercase;
        line-height: 36px;
    }

    .intro {
        width: 97%;
        padding-top: 64px;
    }

    .trend {
        width: 100%;
        margin-bottom: 1%;
    }

    .trend-inform::before {
        background: #000000;
        content: "";
        position: absolute;
        width: 99.9%;
        height: 320px;
        opacity: 0.6;
    }

    .content-bar-list {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .bar-list {
        display: block;
    }

    .post {
        display: block;
        width: 100%;
    }

    .post-info {
        box-sizing: border-box;
        margin-left: 0;
        width: 100%;
    }

    .post-picture {
        margin-top: 15px;
        width: 100%;
    }

    .right-bar {
        width: 100%;
    }

    .latest-post-content {
        display: flex;
        width: 100%;
    }

    .latest-post-search-group {
        width: 100%;
    }

    .field {
        color: #000000;
        width: 100%;
        height: 50px;
        border: none;
        background-color: #f4f7f6;
    }

    .field-subsscribe {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #000000;
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        border: none;
        background-color: #f4f7f6;
        margin-bottom: 18px;
    }

    .subsscribe-button {
        font-family: OpenSans-Bold;
        font-size: 14px;
        color: #ffffff;
        box-sizing: border-box;
        width: 100%;
        height: 48px;
        padding: 18px 82px 19px 82px;
        border: none;
        text-transform: uppercase;
        background-color: #b59f5b;
        border-top: 1px solid #e6dfc8;
        border-left: 1px solid #fbf9f5;
    }

    .tags-menu-link {
        padding: 2px 2px 2px 2px;
        border: 3px solid #eeeeee;
        margin-bottom: 5px;
        margin-right: 3px;
    }

    .product {
        box-sizing: border-box;
        width: 100%;
        border: 4px solid #d3c59d;
        padding-left: 1.7%;
        padding-right: 1.7%;
        margin-top: 60%;
    }

    .socials-item {
        width: 20%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .top-bar {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 36px;
        padding-bottom: 126px;
        background-image: url(../images/banner-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        margin-bottom: 40px;
    }

    .container-top {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .container-logo {
        width: 180px;
        margin-top: 46%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-icon-menu {
        display: flex;
        justify-content: flex-end;
        width: 98%;
    }

    .menu {
        display: none;
    }

    .intro-title {
        font-family: OpenSans-Bold;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 26px;
        text-transform: uppercase;
        line-height: 36px;
    }

    .intro {
        width: 97%;
        padding-top: 64px;
    }

    .trend {
        width: 49%;
        margin-bottom: 1%;
        margin-left: 1%;
    }

    .trend-inform::before {
        background: #000000;
        content: "";
        position: absolute;
        width: 49%;
        height: 320px;
        opacity: 0.6;
    }

    .content-bar-list {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .post-category-trend-link {
        font-family: OpenSans-Bold;
        color: #b59f5b;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.4vw;
    }

    .trend-name {
        font-family: OpenSans-Bold;
        text-transform: uppercase;
        font-size: 3vw;
        text-decoration: none;
        color: #ffffff;
    }

    .bar-list {
        display: block;
    }

    .post {
        display: block;
        width: 100%;
    }

    .post-info {
        box-sizing: border-box;
        margin-left: 0;
    }

    .post-picture {
        margin-top: 15px;
        width: 100%;
    }

    .right-bar {
        width: 100%;
    }

    .latest-post-content {
        display: flex;
        width: 100%;
    }

    .latest-post-search-group {
        width: 100%;
    }

    .field {
        color: #000000;
        width: 100%;
        height: 50px;
        border: none;
        background-color: #f4f7f6;
    }

    .field-subsscribe {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #000000;
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        border: none;
        background-color: #f4f7f6;
        margin-bottom: 18px;
    }

    .subsscribe-button {
        font-family: OpenSans-Bold;
        font-size: 14px;
        color: #ffffff;
        box-sizing: border-box;
        width: 100%;
        height: 48px;
        padding: 18px 82px 19px 82px;
        border: none;
        text-transform: uppercase;
        background-color: #b59f5b;
        border-top: 1px solid #e6dfc8;
        border-left: 1px solid #fbf9f5;
    }

    .tags-menu-link {
        padding: 2px 2px 2px 2px;
        border: 3px solid #eeeeee;
        margin-bottom: 5px;
        margin-right: 3px;
    }

    .product {
        box-sizing: border-box;
        width: 100%;
        border: 4px solid #d3c59d;
        padding-left: 1.7%;
        padding-right: 1.7%;
        margin-top: 60%;
    }
}